/* General layout */

* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'PT Sans', sans-serif;
}

#page-content {
	width: 80%;
	margin: 0 auto;
}

#title-image {
	background-image: url('img/title_image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	aspect-ratio: 5 / 1;
	/* height: 15rem; */
}

nav ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	background-color: green;
	margin-bottom: 2rem;
}

nav ul li {
	padding: 1rem 4rem;
}

footer {
	display: flex;
	justify-content: space-between;
	color: white;
	background-color: green;
	margin-top: 2rem;
	font-size: 0.8rem;
}

footer section {
	margin: 1rem 2rem;
	flex-basis: 30%;
	white-space: nowrap;
}

footer section#contact {
	display: flex;
	align-items: center;
}

footer section#licence {
	text-align: right;
}

footer a {
	color: white;
	text-decoration: underline;
}

address {
	font-style: normal;
}

/* Preview boxes on index.html*/

.container {
	display: flex;
	justify-content: center;
}

#icon {
	margin-right: 0.8rem;
}

#github-icon {
	transition: 0.3s;
}

#github-icon:hover {
	fill: white;
}

.preview {
	width: 40%;
	background-color: lightgray;
	border: 1px solid black;
	margin: 0 2rem;
	text-align: center;
	aspect-ratio: 1 / 1;
}

/* Basic formatting */

a {
	text-decoration: none;
}
